.col-form-label {
    text-align: justify;
}

.btn {
    align-content: center;
    margin: 5px;
}

.error {
    color: red;
    text-align: right;
}

.container {
    border: dotted red 1px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 800px;
}